@model GospoRol.Application.ViewModels.PlaceViewModels.LandViewModels.ListLandForListVm


@{
    ViewData["Title"] = "Twoje Grunty Rolne";

}

<h1>Twoje Grunty Rolne</h1>

<p>
    <a asp-action="AddLand">Dodaj nowy grunt rolny!</a>
</p>
<form asp-action="Index" asp-controller="Land">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Lands[0].PlotNumber)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lands[0].Acreage) 

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lands[0].AcreageFree) 

                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Lands[0].AcreageOccupied) 

                </th>
                <th>
                @Html.DisplayNameFor(model => model.Lands[0].Fields) 

                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Lands)
            {
            <tr>
                <td hidden="">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlotNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Acreage) ha 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcreageFree) ha 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcreageOccupied) ha
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fields.Count) 
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "EditLand", new { item.Id }) |
                    @Html.ActionLink("Usuń", "DeleteLand", new { item.Id }) |
                    @Html.ActionLink("Szczegóły", "DetailsLand", new { item.Id }) |
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>
