@model GospoRol.Application.ViewModels.ListFieldForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddField">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fields[0].FieldName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields[0].Acreage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields[0].CultivatedPlant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields[0].Variety)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields[0].AgriculturalClass.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields[0].Land.PlotNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Fields) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FieldName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acreage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CultivatedPlant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variety)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgriculturalClass.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Land.PlotNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
