@model GospoRol.Application.ViewModels.PlaceViewModels.FieldViewModels.ListFieldForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Twoje Pola</h1>

<p>
    <a asp-action="AddField">Dodaj nowe pole!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fields[0].FieldName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields[0].Acreage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields[0].CultivatedPlant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields[0].Variety)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields[0].AgriculturalClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields[0].Land)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Fields) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FieldName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acreage) ha
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CultivatedPlant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variety)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgriculturalClass.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Land.PlotNumber)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EditField", new {item.Id}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Usuń", "DeleteField", new {item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
